body {
    font-family: 'Amiko';
    padding: 5%;
}

h1 {
    font-weight: bolder;
    font-size: 3em;
}

h1, h2 {
    text-align: center;
}

h2 {
    font-size: medium;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

figcaption {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    text-align: center;
}

#image-wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
}

#timeline-header {
    margin-top: 4em;
    font-size: large;
}

li {
    margin-bottom: 1em;
}

#tribute-info {
    max-width: 100%;
    height: auto;
    margin: auto;
}

@media only screen and (min-width: 1000px){
    #tribute-info{
        max-width: 60%;
    }
    #quote {
        max-width: 50%;
        margin: auto;
    }
    #credit {
        max-width: 50%;
        margin: auto;
    }
}

#quote {
    margin-top: 3em;
    font-size: .9em;
    line-height: 1.8em;
}

#credit {
    margin-top: 1em;
    font-size: .9em;
}

#wiki {
    margin-top: 2em;
    text-align: center;
    font-size: 1.1em;
}